@{
  Layout = "_Layout";
}

<h1>Welcome to the Sketchy Library</h1>


<div class="d-grid gap-2">
  <a href='~/Librarian/Index'><button type="button" class="btn btn-lg btn-warning" style="width:150px">Staff Login</button></a><br>
  <a href='~/Patron/Index'><button type="button" class="btn btn-lg btn-warning" style="width:150px">Patron Login</button></a>
</div>

